*:not(i) {
    font-family: GmarketSansMedium;
}

body {
    background-color: #242424;
    font-size: 15px;
    color: white;
	padding: 10px;
}

a { 
    text-decoration:none ;

}

.board_wrap{
    text-align: center;
}
.board_wrap .title{
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: left;

}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post {
	padding-left: 20px;
	padding-right: 20px;
}
.user_data{
    display: flex;

}
.user_data p{
   color: gray;
   font-size: 12px;
}
.user_data p:nth-child(2){
    padding: 0 5px;
}
.content{
   width: 100%;   
   text-align: left;
   padding-left: 10px;
   padding-right: 10px;
   white-space: pre-line;
}
.option{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.option a{
   font-size: 20px;
   text-decoration: none;
   color: white;

}
.option p{
padding: 0 30px;
font-size: 20px;
}
.likebtn{
   width: 30px;
   height: 30px;
   background-color: #242424;
   border: none;
}

.like p{
   font-size: 12px;
}

.hi_alcohol{
    font-family: 'Pattaya', sans-serif; 
    color: #0BF3BC; 
    font-size: 25px;

}
.main_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input#del{
    background-color: #242424;
    border: none;
    font-size: 20px;
    color: white;
}

