body {
	margin: 0px;
    padding: 10px;
    background-color: #242424;
    font-size: 15px;

}
.board_wrap{
    text-align: center;
    margin: 0 auto;
}

.main_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hi_alcohol{
    font-family: 'Pattaya', sans-serif; 
    color: #0BF3BC; 
    font-size: 25px;

}

a { 
    text-decoration:none ;
} 

.container{
    text-align: center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.title {
	width: 100%;
}

.title input{
    background-color:#242424; 
    height: 30px; 
    width: 95%;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-bottom: white 1px solid;
}

.Contents {
	width: 100%;
}

.Contents textarea{
    background-color:#242424; 
    height: 600px; 
    width: 90%;
    color: white;
    border-radius: 0.5em;
    border-color: white;
	padding: 10px;
	
}
.completion {
    color: #0BF3BC;
   
}