* {
    color: white;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*개별 적용*/
.wrapper {
    width: 500px;
    height: 100%;
    min-height: 100vh;
    background-color:#242424;
    margin: auto;
}
.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    padding: 20px;
    box-sizing: border-box;

    position: absolute;
    position: sticky;
    top: 0;
    
    background-color: #242424;
}

/* menu */
/* .menuIcon {
    width: 30px;
    height: 30px;
    background-color: teal;
} */

.logo {
    font-family: 'Pattaya';
    font-size: 25px;
    color: #0BF3BC;
}

/* .writeIcon {
    width: 30px;
    height: 30px;
    background-color: teal;
} */

.menuBtn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.writeBtn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

/*content*/
.contentList{
    padding: 20px;
    box-sizing: border-box;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content p {
    margin: 0;
}

.subject {
    font-size: 16px;
}

.info, .info span {
    color: gray;
    font-size: 13px;
    margin-top: 14px;
}

.likebtn {
    background-color: #242424;
    border: none;
    align-items: center;
}