* {
    color: white;
}
body {
    width: 40%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
/*개별 적용*/
.wrapper {
    /* width: 500px; */
    height: 100%;
    min-height: 100vh;
    background-color:#242424;
    margin: auto;
	padding: 10px;
}
.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    padding: 20px;
    box-sizing: border-box;

    position: absolute;
    position: sticky;
    top: 0;
    
    background-color: #242424;
}

.header2 {
	height: 50px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}

/* menu */
/* .menuIcon {
    width: 30px;
    height: 30px;
    background-color: teal;
} */

.logo {
	display: flex;
	justify-content: center;
    font-family: 'Pattaya';
    font-size: 25px;
    color: #0BF3BC;
	align-items: center;
}

/* .writeIcon {
    width: 30px;
    height: 30px;
    background-color: teal;
} */

.menuBtn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

.writeBtn{
    width: 40px;
    background-color: transparent;
    border: none;
	margin-right: 20px;
	padding-top: 5px;
}

/*content*/
.contentList{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 30px;
	text-decoration: none;
}

.content p {
    margin: 0;
}


.subject {
    font-size: 16px;
    text-align: left;
}

.info, .info span {
    color: gray;
    font-size: 13px;
    margin-top: 14px;
}

.like {
	display: flexbox;
	justify-content: center;
	align-items: center;
}

.likebtn {
    background-color: #242424;
    border: none;
    align-items: center;
}
.cnt {
	text-align: center;
	font-size: 15px;
}