@charset "utf-8";
/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{margin: 0; padding: 0;}
p {
    font-family: 'Pattaya', sans-serif;
    color: white;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:not(i) {
    font-family: GmarketSansMedium;
}

.header {
	margin:10px;
}


body {
    margin: 0;
    background-color: #242424;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

header {
    /* height: 70px; */
    width: 100%;
    padding-top: 2px;
    /* background-color: #242424; */
    position: fixed;
}

header a {
    /* margin-top: -50px; */
	text-decoration: none;
	font-size: 25px;
}

main {
	/* display: flex;
    justify-content: center; */
    min-width: 700px;
    padding-top: 100px;
}

#map{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    height:700px;
}

.mymap{
    margin: auto;
    height: 45px;
    width: 90%;
    border: 1px solid #8BFEE2;
    border-radius: 33px;
    box-shadow: 0 0 10px 0.5px rgba(11, 243, 188, 0.5);
}

.mymap input {
    height: 42px;
    width: 80%;
    margin-left: 15px;
    border: 0;
    border-radius: 33px;
    color: #dddddd;
    background-color: #242424;
    float: left;
}

.mymap input:focus {
    outline: none;
}

.mymap button {
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    color: #0BF3BC;
    border: 0;
    background-color: #242424;
}