@charset "utf-8";
/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

p {
    font-family: 'Pattaya', sans-serif;
    color: white;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:not(i) {
    font-family: GmarketSansMedium;
}

header{
    margin-top: 120px;
    margin-bottom: 30px;
}

body {
	padding: 20px;
    margin: 0;
    background-color: #242424;
    text-align: center;
    font-size: 15px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 35px;
}

#recipe .title {
    margin-top: 10px;
    margin-bottom: 30px;
}

#recipe .title h2 {
    display: inline;
}

#recipe .input {
    display : flex;
    justify-content: center;
    margin-bottom: 40px;
}

#recipe .input div {
    height: 35px;
    line-height: 35px;
    min-width: 70px;
    margin-top: 15px;
    margin-right: 12px;
    border: 1px solid #0BF3BC;
    border-radius: 15px;
    font-size: 15px;
    color: #0BF3BC;
    display: inline-block;
}

