@charset "utf-8";
/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{margin: 0; padding: 0;}
p {
    font-family: 'Pattaya', sans-serif;
    color: white;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
	display: flex;
	justify-content: center;
    font-family: 'Pattaya';
    font-size: 25px;
    color: #0BF3BC;
	align-items: center;
}

h2 {
    color: white;
}

*:not(i) {
    font-family: GmarketSansMedium;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    /* padding: 20px; */
    box-sizing: border-box;

    position: absolute;
    position: sticky;
    top: 0;
    
    background-color: #242424;
}

header a {
	text-decoration: none;
	font-size: 25px;
}

.logo {
	display: flex;
	justify-content: center;
    font-family: 'Pattaya';
    font-size: 25px;
    color: #0BF3BC;
	align-items: center;
}

.menuBtn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
}

header {
    height: 70px;
    width: 100%;
    padding-top: 2px;
    /* background-color: #242424; */
    position: fixed;
}

body {
	padding: 20px;
    margin: 0;
    background-color: #242424;
    text-align: center;
    font-size: 15px;
}

.recipe{
    padding-top: 150px;;
}

.recipe div{
    height: 70px;
    line-height: 70px;
    max-width: 600px;
    margin: auto;
    border:  2px solid white;
    border-radius: 15px;
    font-size: 30px;
    color: white;
    display: inline-block;
}