@charset "utf-8";
/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
*{margin: 0; padding: 0;}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:not(i) {
    font-family: GmarketSansMedium;
}

a {
    text-decoration: none;
    /* color: white; */
}

.result {
    width: 100%;
    padding-top: 30px;
}

.result a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.result img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
}

body {
    margin: auto;
    background-color: #242424;
    text-align: center;
}

header {
	margin-top: 30px;
}

/* #capture {
    margin: auto;
    width: fit-content;
} */

#blank {
    height: 40px;
}
.exp {
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}
.exp li{
    margin-top: 10px;
    list-style: none;
}
.match {
    margin: auto;
    width: auto;
    display: inline-block;
    color: white;
}
.match div {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    height: 70px;
    padding-top: 20px;
    border: 1px solid #0BF3BC;
    border-radius: 10px;
}

.button button{
    color: white;
    font-size: 17px;
    margin: auto;
    width: 260px;
    height: 50px;
    background-color: #0BF3BC;
    border: #0BF3BC;
    border-radius: 10px;
}

.twoShare {
    margin: auto;
    width: 187px;
}

.share img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 50px;
    float: left;
}

.share button{
    background-color: #242424;
    border: #242424;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#twitter img{
    margin-top: 15.18px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 57px;
    float: left;
}

#link{
    color: white;
    font-size: 17px;
    margin: auto;
    width: 260px;
    height: 50px;
    background-color: #BDBDBD;
    border: #BDBDBD;
    border-radius: 10px;
}